:root {
  --header-height: 100px;
}

html, body {
  height: 100%;
  width: 100%;
}

.app-header {
  max-height: var(--header-height);
  overflow-y: scroll;
}

.app-controls-row {
  display: flex;
  gap: 10px;
}

.sigma-and-syntax-modals {
  display: flex;
  position: absolute;
  inset: 0;
  top: var(--header-height);
}

/* sigma lib will crash if container element has 0 height or 0 width */
.sigma-container {
  width: 50%;
  height: 100%;
}

.sigma-container.sigma-container--hidden {
  width: 0%;
  visibility: hidden;
}

.syntax-modals-list {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.syntax-modals-list.syntax-modals-list--wide {
  width: 50%;
}

.syntax-modal {
  flex: 1;
  position: relative;
  overflow-y: scroll;
}

.syntax-modal + .syntax-modal {
  border-top: 1px solid black;
}

@keyframes highlight-background {
  0% { background-color: white; }
  50% { background-color: green; }
  100% { background-color: white; }
}

.syntax-modal-title {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
}

.syntax-modal-title--animated {
  animation: highlight-background 1000ms;
}

.syntax-modal-close {
  cursor: pointer;
}
